body{
    background-color: #d8e4f0;
}
.formSet{
    background-color: white;
    padding: 50px;
    border-radius: 25px;
}
.inputs{
    background-color: rgb(205, 225, 250);
    border: none;
    outline: none;
 
    padding: 10px;
}
.user{
    text-align: center;
    color: rgb(7, 55, 100) 
}
.error{
    color: red;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding: 15px;
    margin-bottom: 0px;
}
.welcome{
    text-align: center;
    color: rgb(70, 63, 63);
}